body {
	text-align:center;
}
a {
	text-decoration:none;
}
#wrap {
	width:800px;
	text-align:left;
	background:url(images/bg.gif) no-repeat;
	margin:0 auto;
}
#header {
	height:157px;
	background:url(images/hd_bg.gif) no-repeat;
}
#header h1#logo {
	font-size:48px;
	padding-top:25px;
	padding-left:130px;
	background:url(images/logo3.png) no-repeat 40px 30px;
}
#header h1#logo span {
	padding-left:10px;
	font-size:21px;
	color:#599cad;
}
ul#nav li {
	display:inline;
	padding:0 16px;
}
ul#nav a {
	color:#fff;
}
ul#nav a:hover {
	color:#000;
	text-decoration:underline
}
ul#nav {
	padding-top:20px;
	padding-left:180px;
}
#content {
	padding:35px;
	line-height: 150%;
}
#content h1 {
	font-size:30px;
	padding-top:10px;
	padding-bottom:10px;
}
#content h2 {
	font-size:25px;
	padding-top:10px;
	padding-bottom:15px;
}
#content p {
	padding-bottom:10px;
}
div.screenshot { 
	clear:both;
	padding-top:10px;
	padding-bottom:20px;
	font-size:16px;
}
div.screenshot img { 
	float:left;
	margin-right:30px;
}
#content #left {
	width:510px;
	float:left;
	font-size:13px;
}
#content #left li {
	margin-left:18px;
}
#content #right {
	width:220px;
	float:right;
}
#section {
	height:189px;
	padding-bottom:20px;
}
#section p{
	padding-top:10px;
	padding-left:20px;
}
#section ul {
	padding-left:40px;
	padding-top:18px;
}
#section li a {
	text-decoration:underline;
	color:#146894;
	line-height:20px;
}
#content #faq li {
	margin-left:20px;
}
#content #faq .question {
	margin-top:10px;
	font-weight:bold;
}
#section li a:hover{
 	color:#0000FF;
	text-decoration: none;
}
#footer #ftlink {
	padding-top:20px;
}
#footer #ftlink, #footer #ftlink a {
	color:#0c70a6;
}
#footer {
	margin-top:15px;
	clear:both;
	height:138px;
	text-align:center;
}
#footer a {
	color:#000;
}
#footer #ftlink a:hover {
	color:#0000FF;
	text-decoration:underline
}
#ftlink, #copyright {
	padding-bottom:8px;
}
#right h2 {
	font-size:24px;
	padding:10px 0 0 15px;
}
